.features-section{
    padding: 1rem;
    position: relative;

    &__wrapper{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 4rem;
    }

    &__content{
        
        @media screen and (min-width:768px){
            width: fit-content;
            align-self: flex-start;
        }

        &-title{
            font-weight: 400;
            font-family: "barlow", sans-serif;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    &__nav{
        display: flex;
        flex-direction: column;
        padding: 2rem 0;

        @media screen and (min-width:768px){
            padding: 4rem 0;
        }
    }

    &__item{
        background: none;
        border: none;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: .94;
        letter-spacing: -1px;
        text-transform: uppercase;
        font-family: inherit;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;

        @media screen and (min-width:768px){
            font-size: 4rem;
            letter-spacing: -2px;
        }

        &--active{
            color: #202020 !important;
        }

        @media screen and (min-width:1100px){
            font-size: 6rem;
            letter-spacing: -2px;
        }

        &-content{
            position: relative;
            width: fit-content;
        }

        &-subtitle{
            font-size: 1.5rem;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(200%, -50%);
            display: none;
            font-weight: 400;

            &--active{
                display: block;
            }
        }

        &-wrapper{
            position: absolute;
            height: 200px;
            width: 300px;
            background: #202020;
            top: 50%;
            transform: translateY(-50%);
            display: none;
            border-radius: 0.5rem;
            left: 0;

            &--active{
                
                @media screen and (min-width:768px){
                    display: block;
                }
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: 0.5rem;
            }
        }
    }

    &__link{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        font-family: "barlow", sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: fit-content;
        text-decoration: none;
        color: inherit;
        transition: scale 0.3s ease-in-out, gap 0.3s ease-in-out;

        &:hover{
            scale: 1.05;
            gap: 0.7rem;
        }

        &-wrapper{
            display: flex;
            justify-content: center;
        }
    }
}