.client-section{
    width: 100%;
    padding-bottom: 4rem;

    @media screen and (min-width:768px){
        padding: 6rem 0 8rem;
    }

    &__wrapper{
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }

    &__logo{
        flex: 1;
        aspect-ratio: 1 / 0.4;
        min-width: 100px;
        max-width: 120px;

        @media screen and (min-width:768px){
            min-width: none;
            max-width: none;
        }

        &-image{
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }
}